<%= form_for(@antenna) do |f| %>
  <% if @antenna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@antenna.errors.count, "error") %> prohibited this antenna from being saved:</h2>

      <ul>
      <% @antenna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
