<h1>Práctico GIS</h1>

<div id="user-instructions">
Bienvenido al Práctico GIS!
</div>

<div id="user-instructions">
  Usted puede ir al listado de Estaciones Digitales Terrestres, desde donde puede administrar (hacer alta, baja o modificación de las mismas), o puede pasar al mapa en donde, clickeando en algún punto, se le indicará cuál es la Estación más cercana al mismo.
</div>

<div id="user-instructions">
  <%= link_to 'Ir al listado >', antennas_url %>
</div>

<div id="user-instructions">
  <%= link_to 'Pasar al mapa >', antennas_map_url %>
</div>
